@import "../styles/common.scss";

.p-home,
.p-results,
.p-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.p-not-found,
.p-results {
  &-content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 26rem;
    justify-content: space-around;
    align-items: center;
  }

  &-message {
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.4rem;
    line-height: 1.33;

    @media screen and (max-width: 501px) {
      padding: 3rem;
    }
  }
}

.p-results {
  &-content {
    height: auto;
    width: 36rem;
    font-size: 1.8rem;
  }

  &-message {
    font-size: 1.8rem;
    @media screen and (max-width: 501px) {
      padding: 3rem;
    }
  }
}
