.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.error-message {
  color: red;
}

.json-output {
  color: #7e7e7e;
  width: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  position: absolute;
  border: solid 1px #a8a8a8;
  height: auto;
  padding: 0.5rem 1.5rem;
}
